* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-purple-400: #372d3b;
  --color-white: #ffffff;
  --color-gray-100: #fbf8fc;
  --color-gray-150: #f5edf7;
  --color-pink-100: #864293;
  --color-pink-50: #e5d8ea;
}

::-webkit-input-placeholder{
  color: #372d3b;
}

body {
  background-color: var(--color-white);

  height: 100dvh;
}
